.btn-passkey {
    --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
    --edge-light: hsla(206, 50%, 70%, 0.8);
    --text-light: rgba(255, 255, 255, 0.4);
    --back-color: 206, 90%;

    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    min-height: 2.4em;
    min-width: 3em;
    display: flex;
    align-items: center;
    gap: 0.5em;

    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;

    background: linear-gradient(
            140deg,
            hsla(var(--back-color), 50%, 1) min(2em, 20%),
            hsla(var(--back-color), 40%, 0.6) min(8em, 100%)
    );
    color: hsla(0, 0%, 100%, 0.95);
    border: 0;
    box-shadow: inset 0.4px 1px 4px var(--edge-light);

    transition: all 0.1s var(--bezier);
}

.btn-passkey:hover {
    --edge-light: hsla(206, 60%, 75%, 1);
    text-shadow: 0px 0px 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(206, 80%, 20%, 0.4);
    transform: scale(1.1);
}

.btn-passkey:active {
    --text-light: rgba(255, 255, 255, 1);

    background: linear-gradient(
            140deg,
            hsla(var(--back-color), 55%, 1) min(2em, 20%),
            hsla(var(--back-color), 45%, 0.6) min(8em, 100%)
    );
    box-shadow: inset 0.4px 1px 8px var(--edge-light),
    0px 0px 12px hsla(206, 90%, 50%, 0.5);
    text-shadow: 0px 0px 20px var(--text-light);
    color: hsla(0, 0%, 100%, 1);
    letter-spacing: 0.1em;
    transform: scale(1);
}

th[data-sort] {
    cursor: pointer;
}